extends ../../lesson.pug

block lessonVars
    - var back = null;
    - var next = '/html/1.0.html';
    - var type = 'HTML'

block lesson

    h1 HTML - Введение
    p.
        HTML - это язык #[b разметки]. Он нужен для создания каркаса сайта.
    h2 Теги
    p.
        HTML код состоит из элементов - #[b тегов]. 
        Теги можно вкладывать в теги и делать иерархическую структуру. 
    p.
        Тег открывается знаком "меньше" затем идёт название, атрибуты, затем знак "больше". 
        Примерно вот так: #[code.html #{'<p>'}]. 
    p.
        Также у тегов есть атрибуты. Это набор пар ключ-значение. Они пишутся в HTML вот так:
        #[code.html #{'class="my-class"'}].

    p.
        Затем идёт текст, другие теги и затем тег закрывается почти так же как и открывался:
        #[code.html #{'</p>'}]
    p.
        Вот что получилось:
    pre
        code.html. 
            #{'<p class="my-class">'}
            #{'   Текст'}
            #{'   <span>Тоже текст</span>'}
            #{'</p>'}
    br
    br
    br
    br
    br
    br
    br